.category-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 3em;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.category-card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.category-card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  color: white;
  font-size: 2.25rem;
  line-height: 1.1;
}
.card__description {
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}
.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: hsl(46, 100%, 50%);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: hsl(46, 100%, 50%);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: hsl(0, 0%, 0%);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .category-card:hover,
  .category-card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .category-card:hover .card__content,
  .category-card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .category-card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .category-card:hover .card__background,
  .category-card:focus-within .card__background {
    transform: scale(1.3);
  }

  .category-card:hover .card__content--container > :not(.card__title),
  .category-card:hover .card__button,
  .category-card:focus-within .card__content--container > :not(.card__title),
  .category-card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .category-card:hover .card__title::after,
  .category-card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

@media (max-width: 991px) {
  .category-card {
    width: 80vw;
    max-width: 18.875rem;
    height: 30.125rem;
  }
  .card__title {
    font-size: 1.8rem;
  }
  .card__button {
    padding: 0.5em 1em;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .category-card {
    width: 80vw;
    max-width: 20.875rem;
    height: 30.125rem;
  }
}
