.category-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3em;
}
.category-card-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.category-card {
  background: #2b2b2b;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 20em;
  overflow: hidden;
  position: relative;
  width: 18em;
  border-radius: 12px;
}
.category-card:hover img {
  /* top: -10%; */
  filter: brightness(70%);
}
.category-card:hover .text {
  bottom: 0;
}
.category-card img {
  bottom: 0;
  filter: brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 115%;
  height: 20em;
}
.category-card .text {
  bottom: -40%;
  padding: 15px;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.category-card .text h2 {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
}
.category-card .text p {
  color: #fff;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .category-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 3em;
  }
}
